<
<h1 align="center"> Hello from Item service</h1>
<div>
  <h2 *ngIf="item">
    id: {{item.id}};<br/>
    type: {{item.type}};<br/>
    marking: {{item.marking}};<br/>
    category: {{item.category}};<br/>
    brand: {{item.brand}};<br/>
    outerDiameter: {{item.outerDiameter}};<br/>
    innerDiameter: {{item.innerDiameter}};<br/>
    height: {{item.height}};<br/>
    price: {{item.price}};<br/>
    photoOne: {{item.photoOne}};<br/>
    photoTwo: {{item.photoTwo}};<br/>
    photoThree: {{item.photoThree}};<br/>
    photoFour: {{item.photoFour}};<br/>
    info: {{item.info}};<br/>
  </h2>
</div>
